# Lab 2: Using Python psycopg2, JupyterLab, and pgAdmin

In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/kitasugakento/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2

In [ ]:
# Connect to your postgres DB
conn = psycopg2.connect(
    dbname="testdb",
    user="postgres",
    password="asia19980706",
    host="localhost",
    port="5432"
)

# Open a cursor to perform database operations
cur = conn.cursor()

In [ ]:
# Create a new table
cur.execute("""
CREATE TABLE test (
    id SERIAL PRIMARY KEY,
    num integer,
    data varchar
)
""")

# Commit the changes
conn.commit()

In [ ]:
# Insert data into the table
cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",
(100, "abc'def"))

# Commit the changes
conn.commit()

In [ ]:
# Query the database
cur.execute("SELECT * FROM test;")
rows = cur.fetchall()

# Print all rows
for row in rows:
    print(row)

In [ ]:
# Close communication with the database
cur.close()
conn.close()

### Exercise 1 Create a New Tabel

In [27]:
conn = psycopg2.connect(
        dbname="testdb",
        user="postgres",
        password="asia19980706",
        host="localhost",
        port="5432"
)
cur = conn.cursor()

In [ ]:
cur.execute("""
CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name text
)
""")
conn.commit()

###  Exercise 2 Insert Data into the Table

In [ ]:
cur.execute("INSERT INTO departments (id, name) VALUES (%s, %s)", (1, "accounting"))
cur.execute("INSERT INTO departments (id, name) VALUES (%s, %s)", (2, "marketing"))
cur.execute("INSERT INTO departments (id, name) VALUES (%s, %s)", (3, "sales"))
conn.commit()

### Exercise 3 Query Data from Both Tables

In [18]:
cur.execute("SELECT * FROM employees;")
rows = cur.fetchall()

for row in rows:
    print(row)

(3, 'Charlie', 35, 'Marketing')
(2, 'Bob', 25, 'Engineering')
(1, 'Alice', 30, 'HR')

In [19]:
cur.execute("SELECT * FROM departments;")
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'accounting')
(2, 'marketing')
(3, 'sales')

### Exercise 4 Update Data

In [20]:
cur.execute("UPDATE employees SET age = 22 WHERE id = 1")
conn.commit()

In [21]:
cur.execute("SELECT * FROM employees;")
deps = cur.fetchall()
for dep in deps:
    print(dep)

(3, 'Charlie', 35, 'Marketing')
(2, 'Bob', 25, 'Engineering')
(1, 'Alice', 22, 'HR')

### Exercise 5 Delete Date

In [25]:
cur.execute("DELETE FROM employees WHERE name = 'Bob'")
conn.commit()

In [26]:
cur.execute("SELECT * FROM employees;")
emps = cur.fetchall()
for emp in emps:
    print(emp)

(3, 'Charlie', 35, 'Marketing')
(1, 'Alice', 22, 'HR')